<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADHD Assessment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <h1>ADHD 검사</h1>
    <form action="{{ url_for('results') }}" method="post">
        <div>
            <label>1. 어떤 일의 어려운 부분은 끝내 놓고, 그 일을 마무리를 짓지 못해 곤란을 겪은 적이 있습니까?</label><br>
            <input type="radio" id="q1_0" name="q1" value="0" required>
            <label for="q1_0">전혀 그렇지 않다</label>
            <input type="radio" id="q1_1" name="q1" value="1">
            <label for="q1_1">드물게 그렇지 않다</label>
            <input type="radio" id="q1_2" name="q1" value="2">
            <label for="q1_2">가끔 그렇다</label>
            <input type="radio" id="q1_3" name="q1" value="3">
            <label for="q1_3">보통 그렇다</label>
            <input type="radio" id="q1_4" name="q1" value="4">
            <label for="q1_4">매우 자주 그렇다</label><br>
        </div>
        <div>
            <label for="q2">2. 체계가 필요한 일을 해야 할 때 순서대로 진행하기 어려운 경우가 있습니까?</label><br>
            <input type="radio" id="q2_0" name="q2" value="0" required>
            <label for="q2_0">전혀 그렇지 않다</label>
            <input type="radio" id="q2_1" name="q2" value="1">
            <label for="q2_1">드물게 그렇지 않다</label>
            <input type="radio" id="q2_2" name="q2" value="2">
            <label for="q2_2">가끔 그렇다</label>
            <input type="radio" id="q2_3" name="q2" value="3">
            <label for="q2_3">보통 그렇다</label>
            <input type="radio" id="q2_4" name="q2" value="4">
            <label for="q2_4">매우 자주 그렇다</label><br>
        </div>  
        <div>
            <label for="q3">3. 약속이나 해야 할 일을 잊어버려 곤란을 겪은 적이 있습니까?</label><br>
            <input type="radio" id="q3_0" name="q3" value="0" required>
            <label for="q3_0">전혀 그렇지 않다</label>
            <input type="radio" id="q3_1" name="q3" value="1">
            <label for="q3_1">드물게 그렇지 않다</label>
            <input type="radio" id="q3_2" name="q3" value="2">
            <label for="q3_2">가끔 그렇다</label>
            <input type="radio" id="q3_3" name="q3" value="3">
            <label for="q3_3">보통 그렇다</label>
            <input type="radio" id="q3_4" name="q3" value="4">
            <label for="q3_4">매우 자주 그렇다</label><br>
        </div>
        <div>
            <label for="q4">4. 골치 아픈 일은 피하거나 미루는 경우가 있습니까?</label><br>
            <input type="radio" id="q4_0" name="q4" value="0" required>
            <label for="q4_0">전혀 그렇지 않다</label>
            <input type="radio" id="q4_1" name="q4" value="1">
            <label for="q4_1">드물게 그렇지 않다</label>
            <input type="radio" id="q4_2" name="q4" value="2">
            <label for="q4_2">가끔 그렇다</label>
            <input type="radio" id="q4_3" name="q4" value="3">
            <label for="q4_3">보통 그렇다</label>
            <input type="radio" id="q4_4" name="q4" value="4">
            <label for="q4_4">매우 자주 그렇다</label><br>
        </div>
        <div>
            <label for="q5">5. 오래 앉아 있을 때, 손을 만지작거리거나 발을 꼼지락거리는 경우가 있습니까?</label><br>
            <input type="radio" id="q5_0" name="q5" value="0" required>
            <label for="q5_0">전혀 그렇지 않다</label>
            <input type="radio" id="q5_1" name="q5" value="1">
            <label for="q5_1">드물게 그렇지 않다</label>
            <input type="radio" id="q5_2" name="q5" value="2">
            <label for="q5_2">가끔 그렇다</label>
            <input type="radio" id="q5_3" name="q5" value="3">
            <label for="q5_3">보통 그렇다</label>
            <input type="radio" id="q5_4" name="q5" value="4">
            <label for="q5_4">매우 자주 그렇다</label><br>
        </div>    
        <div>
            <label for="q6">6. 마치 모터가 달린 것처럼, 과도하게 혹은 멈출 수 없이 활동하는 경우가 있습니까?</label><br>
            <input type="radio" id="q6_0" name="q6" value="0" required>
            <label for="q6_0">전혀 그렇지 않다</label>
            <input type="radio" id="q6_1" name="q6" value="1">
            <label for="q6_1">드물게 그렇지 않다</label>
            <input type="radio" id="q6_2" name="q6" value="2">
            <label for="q6_2">가끔 그렇다</label>
            <input type="radio" id="q6_3" name="q6" value="3">
            <label for="q6_3">보통 그렇다</label>
            <input type="radio" id="q6_4" name="q6" value="4">
            <label for="q6_4">매우 자주 그렇다</label><br>
        </div>
        <div>
            <label for="q7">7. 지루하고 어려운 일을 할 때, 부주의해서 실수하는 경우가 있습니까?</label><br>
            <input type="radio" id="q7_0" name="q7" value="0" required>
            <label for="q7_0">전혀 그렇지 않다</label>
            <input type="radio" id="q7_1" name="q7" value="1">
            <label for="q7_1">드물게 그렇지 않다</label>
            <input type="radio" id="q7_2" name="q7" value="2">
            <label for="q7_2">가끔 그렇다</label>
            <input type="radio" id="q7_3" name="q7" value="3">
            <label for="q7_3">보통 그렇다</label>
            <input type="radio" id="q7_4" name="q7" value="4">
            <label for="q7_4">매우 자주 그렇다</label><br>
        </div>
        <div>
            <label for="q8">8. 지루하고 반복적인 일을 할 때, 주의 집중이 힘든 경우가 있습니까?</label><br>
            <input type="radio" id="q8_0" name="q8" value="0" required>
            <label for="q8_0">전혀 그렇지 않다</label>
            <input type="radio" id="q8_1" name="q8" value="1">
            <label for="q8_1">드물게 그렇지 않다</label>
            <input type="radio" id="q8_2" name="q8" value="2">
            <label for="q8_2">가끔 그렇다</label>
            <input type="radio" id="q8_3" name="q8" value="3">
            <label for="q8_3">보통 그렇다</label>
            <input type="radio" id="q8_4" name="q8" value="4">
            <label for="q8_4">매우 자주 그렇다</label><br>
        </div>
        <div>
            <label for="q9">9. 대화 중, 특히 상대방이 당신에게 직접 말하고 있을 때에도, 집중하기 힘든 경우가 있습니까?</label><br>
            <input type="radio" id="q9_0" name="q9" value="0" required>
            <label for="q9_0">전혀 그렇지 않다</label>
            <input type="radio" id="q9_1" name="q9" value="1">
            <label for="q9_1">드물게 그렇지 않다</label>
            <input type="radio" id="q9_2" name="q9" value="2">
            <label for="q9_2">가끔 그렇다</label>
            <input type="radio" id="q9_3" name="q9" value="3">
            <label for="q9_3">보통 그렇다</label>
            <input type="radio" id="q9_4" name="q9" value="4">
            <label for="q9_4">매우 자주 그렇다</label><br>
        </div>
        <div>
            <label for="q10">10. 집이나 직장에서 물건을 엉뚱한 곳에 두거나 어디에 두었는지 찾기 어려운 경우가 있습니까?</label><br>
            <input type="radio" id="q10_0" name="q10" value="0" required>
            <label for="q10_0">전혀 그렇지 않다</label>
            <input type="radio" id="q10_1" name="q10" value="1">
            <label for="q10_1">드물게 그렇지 않다</label>
            <input type="radio" id="q10_2" name="q10" value="2">
            <label for="q10_2">가끔 그렇다</label>
            <input type="radio" id="q10_3" name="q10" value="3">
            <label for="q10_3">보통 그렇다</label>
            <input type="radio" id="q10_4" name="q10" value="4">
            <label for="q10_4">매우 자주 그렇다</label><br>
        </div>
        <div>
            <label for="q11">11. 주변에서 벌어지는 일이나 소음 때문에 주의가 산만해지는 경우가 있습니까?</label><br>
            <input type="radio" id="q11_0" name="q11" value="0" required>
            <label for="q11_0">전혀 그렇지 않다</label>
            <input type="radio" id="q11_1" name="q11" value="1">
            <label for="q11_1">드물게 그렇지 않다</label>
            <input type="radio" id="q11_2" name="q11" value="2">
            <label for="q11_2">가끔 그렇다</label>
            <input type="radio" id="q11_3" name="q11" value="3">
            <label for="q11_3">보통 그렇다</label>
            <input type="radio" id="q11_4" name="q11" value="4">
            <label for="q11_4">매우 자주 그렇다</label><br>
        </div>
        <div>
            <label for="q12">12. 회의나 다른 사회적 상황에서 계속 앉아 있어야 함에도 잠깐씩 자리를 뜨는 경우가 있습니까?</label><br>
            <input type="radio" id="q12_0" name="q12" value="0" required>
            <label for="q12_0">전혀 그렇지 않다</label>
            <input type="radio" id="q12_1" name="q12" value="1">
            <label for="q12_1">드물게 그렇지 않다</label>
            <input type="radio" id="q12_2" name="q12" value="2">
            <label for="q12_2">가끔 그렇다</label>
            <input type="radio" id="q12_3" name="q12" value="3">
            <label for="q12_3">보통 그렇다</label>
            <input type="radio" id="q12_4" name="q12" value="4">
            <label for="q12_4">매우 자주 그렇다</label><br>
        </div>
        <div>
            <label for="q13">13. 안절부절 못하거나 조바심하는 경우가 있습니까?</label><br>
            <input type="radio" id="q13_0" name="q13" value="0" required>
            <label for="q13_0">전혀 그렇지 않다</label>
            <input type="radio" id="q13_1" name="q13" value="1">
            <label for="q13_1">드물게 그렇지 않다</label>
            <input type="radio" id="q13_2" name="q13" value="2">
            <label for="q13_2">가끔 그렇다</label>
            <input type="radio" id="q13_3" name="q13" value="3">
            <label for="q13_3">보통 그렇다</label>
            <input type="radio" id="q13_4" name="q13" value="4">
            <label for="q13_4">매우 자주 그렇다</label><br>
        </div>
        <div>
            <label for="q14">14. 혼자 쉬고 있을 때, 긴장을 풀거나 마음을 편하게 갖기 어려운 경우가 있습니까?</label><br>
            <input type="radio" id="q14_0" name="q14" value="0" required>
            <label for="q14_0">전혀 그렇지 않다</label>
            <input type="radio" id="q14_1" name="q14" value="1">
            <label for="q14_1">드물게 그렇지 않다</label>
            <input type="radio" id="q14_2" name="q14" value="2">
            <label for="q14_2">가끔 그렇다</label>
            <input type="radio" id="q14_3" name="q14" value="3">
            <label for="q14_3">보통 그렇다</label>
            <input type="radio" id="q14_4" name="q14" value="4">
            <label for="q14_4">매우 자주 그렇다</label><br>
        </div>
        <div>
            <label for="q15">15. 사회적 상황에서 나 혼자 말을 너무 많이 한다고 느끼는 경우가 있습니까?</label><br>
            <input type="radio" id="q15_0" name="q15" value="0" required>
            <label for="q15_0">전혀 그렇지 않다</label>
            <input type="radio" id="q15_1" name="q15" value="1">
            <label for="q15_1">드물게 그렇지 않다</label>
            <input type="radio" id="q15_2" name="q15" value="2">
            <label for="q15_2">가끔 그렇다</label>
            <input type="radio" id="q15_3" name="q15" value="3">
            <label for="q15_3">보통 그렇다</label>
            <input type="radio" id="q15_4" name="q15" value="4">
            <label for="q15_4">매우 자주 그렇다</label><br>
        </div>
        <div>
            <label for="q16">16. 대화 도중 상대방이 말을 끝내기 전에 끼어들어 상대방의 말을 끊는 경우가 있습니까?</label><br>
            <input type="radio" id="q16_0" name="q16" value="0" required>
            <label for="q16_0">전혀 그렇지 않다</label>
            <input type="radio" id="q16_1" name="q16" value="1">
            <label for="q16_1">드물게 그렇지 않다</label>
            <input type="radio" id="q16_2" name="q16" value="2">
            <label for="q16_2">가끔 그렇다</label>
            <input type="radio" id="q16_3" name="q16" value="3">
            <label for="q16_3">보통 그렇다</label>
            <input type="radio" id="q16_4" name="q16" value="4">
            <label for="q16_4">매우 자주 그렇다</label><br>
        </div>
        <div>
            <label for="q17">17. 차례를 지켜야 하는 상황에서 자신의 차례를 기다리는 것이 어려운 경우가 있습니까?</label><br>
            <input type="radio" id="q17_0" name="q17" value="0" required>
            <label for="q17_0">전혀 그렇지 않다</label>
            <input type="radio" id="q17_1" name="q17" value="1">
            <label for="q17_1">드물게 그렇지 않다</label>
            <input type="radio" id="q17_2" name="q17" value="2">
            <label for="q17_2">가끔 그렇다</label>
            <input type="radio" id="q17_3" name="q17" value="3">
            <label for="q17_3">보통 그렇다</label>
            <input type="radio" id="q17_4" name="q17" value="4">
            <label for="q17_4">매우 자주 그렇다</label><br>
        </div>
        <div>
            <label for="q18">18. 다른 사람이 바쁘게 일할 때, 방해되는 행동을 하는 경우가 있습니까?</label><br>
            <input type="radio" id="q18_0" name="q18" value="0" required>
            <label for="q18_0">전혀 그렇지 않다</label>
            <input type="radio" id="q18_1" name="q18" value="1">
            <label for="q18_1">드물게 그렇지 않다</label>
            <input type="radio" id="q18_2" name="q18" value="2">
            <label for="q18_2">가끔 그렇다</label>
            <input type="radio" id="q18_3" name="q18" value="3">
            <label for="q18_3">보통 그렇다</label>
            <input type="radio" id="q18_4" name="q18" value="4">
            <label for="q18_4">매우 자주 그렇다</label><br>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
